node_modules
dist
.vite
.env
.env.local

/src/
/public/

frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env
frontend/.env.local

backend/node_modules
backend/.env
backend/data/bookings.json
backend/src/generated
